


<nav class="navbar navbar-expand-lg navbar-light  ">
    <div class="container-fluid">
    <a routerLink="accueil" class="navbar-brand" href="#">Cmr-Trip</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a routerLink="accueil" class="nav-link" href="#">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hotels</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Restaurants</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Plus</a>
          </li>
          <li class="nav-item">
             <a routerLink="publication/ajout" class="nav-link" href="#">Publier</a> 
          </li>
          <li>
          <button> <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ffr.123rf.com%2Fphoto_56275859_menu-bouton-conception-ic%25C3%25B4ne-illustration.html&psig=AOvVaw2iPvxeJyXB5rZP-Imu3P2d&ust=1682247831159000&source=images&cd=vfe&ved=0CBEQjRxqFwoTCIisqdurvf4CFQAAAAAdAAAAABAY" width="20px" alt=""> </button>
        </li>
      </ul>
    </div>
    </div>
  </nav>
 
  
<router-outlet> </router-outlet>
  
