


/*.position
{
    z-index : 2;
}
*/
button
{
    position: absolute;
    margin-left: 10px;
    margin-top: -40px;
    margin-bottom: 50px;
}
.defile
{
margin: auto;
display:block ;
margin-top: 10px;
margin-bottom: 50px;
height: 300px; 
position: relative ;
background:green ;
}
