<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Email</h4>
                <ul>
                    <li>
                        <a href="">meganemafosso@gmail.com</a>
                        <a href="">stanislasnem@gmail.com</a>
                        <a href="">emritesnzokou@gmail.com</a>
                        <a href="">giveraango@gmail.com</a>
                        <a href="">loicpokam@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contacts</h4>
                <ul>
                    <li>
                        <a href="">698020310</a>
                        <a href="">693443687</a>
                        <a href="">674020003</a>
                        <a href="">657022795</a>
                        <a href="">680980927</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Nos Reseaux</h4>
                <div class="social-links">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
